<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="menu">
        <h1>DASHBOARD</h1>
    </div>
    <div class="nav">
        <h1>N</h1>
        <h1>A</h1>
        <h1>V</h1>
        <h1>|</h1>
        <h1>B</h1>
        <h1>A</h1>
        <h1>R</h1>
    </div>
    <table style="width: 96%;">
    <tr>
        <th> ID </th>
        <th> FIRSTNAME </th>
        <th> LASTNAME </th>
        <th> ADDRESS </th>
        <th> MOBILE </th>
        <th> AGE </th>
        <th> EMAIL</th>
        <th> PASSWROD</th>
        <th>{{ id }}</th>
    </tr>

    <tr>
        <td>001</td>
        <td>Ahmed</td>
        <td>Mohammed</td>
        <td>Texas-island</td>
        <td>07082991887</td>
        <td>18yrs</td>
        <td>ahmed697@gmail.com</td>
        <td>roygbiv7887</td>
    </tr>

    <tr>
        <td>001</td>
        <td>Ahmed</td>
        <td>Mohammed</td>
        <td>Texas-island</td>
        <td>07082991887</td>
        <td>18yrs</td>
        <td>ahmed697@gmail.com</td>
        <td>roygbiv7887</td>
    </tr>

    <tr>
        <td>001</td>
        <td>Ahmed</td>
        <td>Mohammed</td>
        <td>Texas-island</td>
        <td>07082991887</td>
        <td>18yrs</td>
        <td>ahmed697@gmail.com</td>
        <td>roygbiv7887</td>
    </tr>

    <tr>
        <td>001</td>
        <td>Ahmed</td>
        <td>Mohammed</td>
        <td>Texas-island</td>
        <td>07082991887</td>
        <td>18yrs</td>
        <td>ahmed697@gmail.com</td>
        <td>roygbiv7887</td>
    </tr>

    <tr>
        <td>001</td>
        <td>Ahmed</td>
        <td>Mohammed</td>
        <td>Texas-island</td>
        <td>07082991887</td>
        <td>18yrs</td>
        <td>ahmed697@gmail.com</td>
        <td>roygbiv7887</td>
    </tr>

    <tr>
        <td>001</td>
        <td>Ahmed</td>
        <td>Mohammed</td>
        <td>Texas-island</td>
        <td>07082991887</td>
        <td>18yrs</td>
        <td>ahmed697@gmail.com</td>
        <td>roygbiv7887</td>
    </tr>

    <tr>
        <td>001</td>
        <td>Ahmed</td>
        <td>Mohammed</td>
        <td>Texas-island</td>
        <td>07082991887</td>
        <td>18yrs</td>
        <td>ahmed697@gmail.com</td>
        <td>roygbiv7887</td>
    </tr>

    <tr>
        <td>001</td>
        <td>Ahmed</td>
        <td>Mohammed</td>
        <td>Texas-island</td>
        <td>07082991887</td>
        <td>18yrs</td>
        <td>ahmed697@gmail.com</td>
        <td>roygbiv7887</td>
    </tr>

    <tr>
        <td>001</td>
        <td>Ahmed</td>
        <td>Mohammed</td>
        <td>Texas-island</td>
        <td>07082991887</td>
        <td>18yrs</td>
        <td>ahmed697@gmail.com</td>
        <td>roygbiv7887</td>
    </tr>

    <tr>
        <td>001</td>
        <td>Ahmed</td>
        <td>Mohammed</td>
        <td>Texas-island</td>
        <td>07082991887</td>
        <td>18yrs</td>
        <td>ahmed697@gmail.com</td>
        <td>roygbiv7887</td>
    </tr>
    </table>
</body>
</html>